<div class="row">

    <div class="col-md-12 col-xs-12 nopadding">

        <button class="btn btn-background" id="downButton" type="button" ng-click="downloadDown()"></button>

    </div>

</div>

<div class="row">

    <div class="col-md-12 col-xs-12 nopadding">

        <button class="btn btn-background" id="depressedButton" type="button" ng-click="downloadDepressed()"></button>

    </div>

</div>

<div class="row">

    <div class="col-md-12 col-xs-12 nopadding">

        <button class="btn btn-background" id="worthlessButton" type="button" ng-click="downloadWorthless()"></button>

    </div>

</div>

<div class="row">

    <div class="col-md-12 col-xs-12 nopadding">

        <button class="btn btn-background" id="anxietyButton" type="button" ng-click="downloadAnxiety()"></button>

    </div>

</div>

<div class="row">

    <div class="col-md-12 col-xs-12 nopadding">

        <button class="btn btn-background" id="panicButton" type="button" ng-click="downloadPanicky()"></button>

    </div>

</div>

<div class="row">

    <div class="col-md-12 col-xs-12 nopadding">

        <button class="btn btn-background" id="uglyButton" type="button" ng-click="downloadUgly()"></button>

    </div>

</div>